:root {
    bg-color: rgba (0,0,0 / 10%);
    clr: aliceblue;
    primary-font: 24px Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    border: 0;
}

#new-book {
    width: 200px;
    margin: 10px;
    padding: 15px 10px;
    font: var(--primary-font);
    font-weight: bold;
}

